{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <h1>Création d'un tour !</h1> 

    {{ form_start(form) }}
    {{ form_row(form.tourTournoi) }}
    {{ form_row(form.nom, {'attr': {'placeholder': "nom du tour"  }}) }}
    {{ form_row(form.groupes) }}
    {{ form_row(form.equipes) }}
    
        <button type="submit" class="btn btn-success"> Ajouter le tour </button>

    {{ form_end(form) }}
{% endblock %}